body {
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
}

#page-header{
    background-color: aqua;
}

nav {
    overflow: auto;
    background-color: blue;
    padding: 0px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}